---
import Layout from '../layouts/Layout.astro';
import Badge from "../components/Badge.astro" ;
import LinkendIn from '../components/icons/LinkendIn.astro';
import SocialPill from '../components/SocialPill.astro';
import GitHub from '../components/icons/GitHub.astro'
import Email from '../components/icons/Email.astro';
import SectionConteiner from '../components/SectionConteiner.astro';
import Brigecase from '../components/icons/Brigecase.astro'
import Conocimientos from '../components/Conocimientos.astro';

---

<Layout
title="Porfolio de EDyAzB-Comensando en el marabilloso mundo de la programacion Web"
description="Iniciando con la idea de especialisarme en Front, lugo "
 >
	<main>
		
		<SectionConteiner class="py-20">
			<img 
        class="rounded-full w-20 h-20"
		src="https://media.licdn.com/dms/image/v2/C5603AQHz0KDzL2XS6g/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1595421571682?e=1732752000&v=beta&t=qqtIuKpw1_BQSk1I7U9Qmr_K4hF06Sp8Bhh3p3A9bdA"
        alt="edy foto">
		<h1 class="text-white text-4xl font-bolt flex flex-row pb-6">
			Hola, Soy Ing. Edy Antonio Díaz Betancourt.
			<a
			 href="http://www.linkedin.com/in/edy-diaz-betancourt-8323631aa"
			 target="_blank"
			 rel="noopener"
			 class="flex justify-center items-center"
			 >
     		<Badge>Disponibe para trabajar</Badge>
			</a>
		</h1>
        <h2 class="text-white text-wrap text-2xl">Iniciando en el hermoso mundo de la <span class="text-yellow-200/90">Programación Web.</span>
			<span class="text-red-400/90">Soy cubano 100%.</span> Ingeniero Automtáico.</h2>
		
		<nav class="flex gap-x-6 mt-8">
			<SocialPill href="http://www.linkedin.com/in/edy-diaz-betancourt-8323631aa">
				<LinkendIn class="w-6 h-6"/>
				LinkedIn
			</SocialPill>
			<SocialPill href="https://github.com/EDyAzB">
				<GitHub class="w-6 h-6"/>
				GitHub
			</SocialPill>
			<SocialPill href="https://github.com/EDyAzB">
				<Email class="w-6 h-6"/>
				edy.diaz@nauta.cu
			</SocialPill> 
				
		</nav>
		</SectionConteiner>

	<SectionConteiner id="habilidades" class="py-5">
		
		<h2 class="text-2xl font-semibold mb-6 text-white flex gap-x-2 items-center">
		 <Brigecase class="size-6"/>
		 Habilidades Aprendidas
		</h2>
		<Conocimientos/>
	</SectionConteiner>
	</main>
</Layout>

