<nav class="flex flex-row gap-x-10 text-white opacity-80" >
<h2>Mis Conocimientos</h2>
    <div class="skill-container">
      <div class="skill-card">
        <h3>JavaScript</h3>
        <p>Experto en programación dinámica y desarrollo web.</p>
        <div class="progress-bar">
          <div class="progress" style="width: 90%;">90%</div>
        </div>
      </div>
      <div class="skill-card">
        <h3>CSS</h3>
        <p>Diseño responsivo y preprocesadores CSS.</p>
        <div class="progress-bar">
          <div class="progress" style="width: 80%;">80%</div>
        </div>
      </div>
      <div class="skill-card">
        <h3>HTML</h3>
        <p>Maquetación y estructuras semánticas.</p>
        <div class="progress-bar">
          <div class="progress" style="width: 95%;">95%</div>
        </div>
      </div>
      <div class="skill-card">
        <h3>TypeScript</h3>
        <p>Desarrollo de aplicaciones robustas y mantenibles.</p>
        <div class="progress-bar">
          <div class="progress" style="width: 75%;">75%</div>
        </div>
      </div>
      <div class="skill-card">
        <h3>Angular</h3>
        <p>Desarrollo de aplicaciones SPA con Angular.</p>
        <div class="progress-bar">
          <div class="progress" style="width: 85%;">85%</div>
        </div>
      </div>
      <div class="skill-card">
        <h3>Astro</h3>
        <p>Construcción de sitios web rápidos y optimizados.</p>
        <div class="progress-bar">
          <div class="progress" style="width: 70%;">70%</div>
        </div>
      </div>
    </div>
</nav>